.liftButton {
  border: 1px solid;
  box-shadow: 1px 2px;
  text-align: center;
  margin: 6px;
  padding: 2px;
  cursor: pointer;
  font-size: 10px;
}

.liftContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-top: -93px;
}

.lift {
  width: 30px;
  height: 60px;
  background: antiquewhite;
  position: relative;
  font-size: 10px;
}

.liftDoorOpen .leftDoor,
.liftDoorOpen .rightDoor {
  width: 0px;
}

.leftDoor,
.rightDoor {
  position: absolute;
  top: 0;
  width: 13px;
  height: 60px;
  transition: width 2.5s;
  background-color: #8888a1;
  border-right: 1px solid black;
}

.rightDoor {
  right: 0;
}

@media screen and (max-width: 480px) {
  .floorNo {
    font-size: 12px;
  }
}

.liftStimulationForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.formFields >input {
  display: block;
}

.stimulationError {
  color: red;
  padding: 1rem;
}

.formFields {
  margin-bottom: 2rem;
}

.floor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid black;
  height: 100px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
}